div(ng-include='"components/navbar/navbar.html"')

header.hero-unit
  .content
    .container
      h1 Scroll Sync Sandbox
.container.docs-container
  my-docs
    my-section(title='Group A')
      p group A is cool
      my-section(title='Subsection of A')
        p How d'ya like them apples?
    my-section(title='Group B')
      p.
         group B is also cool.
         Subgroups will surely follow
