.my-docs-container
  .my-docs-content(ng-transclude)
  nav.my-docs-index
    ul.nav.my-docs-nav.hidden-xs
      li(ng-repeat='sect in sections')
        a(ng-href="#{{ sect.anchor }}") {{ sect.title }}